
*{
    font-family: 'Jost';
}
header{
    display:flex;
    justify-content: space-between;
    /* margin: 30px; */
    padding: 0 25px;
    padding-top: 30px;
}
#conf-logo{
    width: 140px;
    position: relative;
    filter: drop-shadow(3px 6px 10px rgba(29, 3, 21, 0.5));
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: large;
}
body{
    margin: 0;
  background: linear-gradient(
        112deg,
        rgb(189, 50, 152) 1%,
        rgba(56, 19, 194, 1) 98%
      );
    height: 100vh;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;
    height: 80%;
    /* min-height: 90vh; */
    
}
.container{
    
    border-radius: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    
}
#sign-in{
    color: #fff;
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 50px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;
    margin: top 15px;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 20px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
    margin-top: 10px;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
  