
html {
    box-sizing: border-box;
}

* {
    font-family: "Jost", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    header {
        display: flex;
        align-self: center;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
        width: 85%;
      }


      .logo {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-left: 5px;
      }
.conf-plus {
    margin-left: 10px;
  }

.ellipse-1 {
    width: 21%;
    height: 56%;

}


nav a {
    text-decoration: none;
  color: #18537a;
  letter-spacing: 1.5px;
  margin-right: 110px;
  font-weight: 500;
  font-size: 19px;
  }

  .welcome-banner {
  
    width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: #18537a;
  font-size: 2.5vw;
  font-style: italic;
 
   
  }

#organizer-name {
    color: #3a187a;
}

.organizer-logo {
    width: 5vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
    width: 80%;
    margin: 2em auto;
    padding: 80px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    box-shadow: -5px -5px 60px 15px rgba(30, 119, 204, 0.1),
      5px 5px 60px 15px rgba(30, 119, 204, 0.1);
}
fieldset {
  
    display: flex;
    flex-direction: column;
    color: #18537a;
    border: 1px solid #18537a;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    font-weight: 600;
    bottom: 17px;
}

legend {
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    color: #18537a;
}

#sessions {
    display: flex;
    flex-direction: column;
}

.session {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.session>.session-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.session-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-btns>button {
    width: 60px;
    /* height: 20%; */
    margin: 2%;
    border-radius: 10px;
    border-style: none;
}


.update-btn {
  background: rgb(245, 243, 243);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(104, 105, 104, 0.4) 0 2px 4px,rgba(62, 66, 64, 0.3) 0 7px 13px -3px,rgba(53, 53, 53, 0.5) 0 -3px 0 inset;
  color: #18537a;
  cursor: pointer;
  height: 25px;
  align-self: center;
  list-style: none;
  overflow: hidden;
  
  position: relative;
  text-align: center;
  text-decoration: none;
 
  transition: box-shadow .15s,transform .15s;
  font-weight: 500;
}
.update-btn:hover{
   box-shadow: rgba(30, 26, 26, 0.941) 0 4px 8px, rgba(70, 67, 67, 0.963) 0 7px 13px -3px, #141313 0 -3px 0 inset;
    color: #e8e8e8;
    background: linear-gradient(
      112deg,
      rgb(189, 50, 152) 1%,
      rgba(56, 19, 194, 1) 98%
    );
    transform: translateY(-2px);
    text-decoration: none;
}

.delete-btn {
    background: linear-gradient(112deg,
            rgb(189, 50, 50) 1%,
            rgb(80, 6, 6) 98%);
    color: white;
}

.session>input {
    visibility: hidden;
    position: absolute;
}

.session>input+div {
    cursor: pointer;
    border: 2px solid transparent;
}

.session>input:checked+div {
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}

header>nav {
    display: flex;
    gap: 2em;
}

#sessions-field {
    max-height: 40%;
    overflow-y: scroll;
    width: auto;
}
#new-session-field{
    width: fit-content;
    padding: 20px;
}
#new-session-field form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#new-session-field label+* {
    margin-bottom: 10px;
}

#new-session-field select,
#new-session-field input {
    width: fit-content;
    min-width: 250px;
}

#new-session-field input.submit {
    min-width: fit-content;
    align-items: center;
    background: #33607e;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(104, 105, 104, 0.4) 0 2px 4px, rgba(62, 66, 64, 0.3) 0 7px 13px -3px, rgba(53, 53, 53, 0.5) 0 -3px 0 inset;
    color: white;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    align-self: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    font-size: 15px;
    font-weight: 500;

}

#new-session-field input.submit:focus {
    box-shadow: #c2b9b9 0 0 0 1.5px inset, rgba(37, 34, 35, 0.4) 0 2px 4px, rgba(53, 52, 56, 0.3) 0 7px 13px -3px, #141514 0 -3px 0 inset;
}

#new-session-field input.submit:hover {
    box-shadow: rgba(30, 26, 26, 0.941) 0 4px 8px, rgba(70, 67, 67, 0.963) 0 7px 13px -3px, #141313 0 -3px 0 inset;
    color: #e8e8e8;
    background: linear-gradient(112deg,
            rgb(189, 50, 152) 1%,
            rgba(56, 19, 194, 1) 98%);
    transform: translateY(-2px);
}

#new-session-field input.submit:active {
    box-shadow: #757474 0 3px 7px inset;
    transform: translateY(2px);
}
footer {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    clear: both;
    color: #18537a;
    margin: 0 auto;
    float: left;
    width: 100%;
    display: grid;
    grid-column: 1/-1;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    clear: both;
    justify-content: space-around;
    padding: 0 3em;
    
  }
  
  footer h4 {
    width: fit-content;
    text-align: center;
    align-self: center;
  
  }
  
  .col1,
  .col2,
  .col3 {
    
    /*margin: 30px; */
    text-align: center;
    /*width: calc(31% - 60px); */
    width: fit-content;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .col1 a {
    text-decoration: none;
    color: blue;
    position: relative;
    bottom: 20px;
  }
  .col1 p{
    position: relative;
    bottom: 20px;
  }
  .col2 a,
  .col3 a {
    text-decoration: none;
    color: black;
  }
  
  .col2 a:hover,
  .col3 a:hover {
    color: blue;
  }
  
  .full-col {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    text-align: center;
    
  }
  
  .full-col a {
    text-decoration: none;
  }
  
  footer img.conf-plus {
    position: relative;
    bottom: 10px;
    width: 120px;
}
@media only screen and (max-width: 750px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
        margin-left: 13vh;
      font-size: 20px;
    }
    .welcome-banner {
    
      padding: 6px;
      width: fit-content;
      display: flex;
      /* font-size: 20px; */
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .review-logo{
      padding: 5px;
    }
    .row {
      flex-direction: column;
      /* flex-wrap: nowrap; */
      align-items: center;
      gap: 2em;
      margin-bottom: 1.4em;
    }
    .row > * {
      height: fit-content;
    }
    footer p {
      width: 280px;
    }
  }

  @media only screen and (max-width: 550px) {

    main{
      padding: 0;
      margin: 10px;
      width: fit-content;
    }

    .session{
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
    .session-btns{
      flex-direction: row;
      
    }
    fieldset{
      padding: 5px;
      margin: 10px;
    }

    .welcome-banner{
      font-size: 8pt;
    }

    .row{
      padding: 0;
    }
  }

