* {
  font-family: "Jost", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 5px;
}
.conf-plus {
  margin-left: 10px;
}
.ellipse-1 {
  width: 21%;
  height: 56%;
}

nav a {
  text-decoration: none;
  color: #18537a;
  letter-spacing: 1.5px;
  margin-right: 110px;
  font-weight: 500;
  font-size: 19px;
}
.welcome-banner {
  
  width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: #18537a;
  font-size: 29px;
  font-style: italic;
  
  
  
}
#author-name {
  color: #3a187a;
}
.author-logo {
  width: 5vh;
}
.submit-form {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width: 80vh;
}
.upload {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  width: 95%;
  box-shadow: -5px -5px 60px 15px rgba(30, 119, 204, 0.1),
    5px 5px 60px 15px rgba(30, 119, 204, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.paper-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #18537a;
  border: 3px solid #18537a;
  padding: 2em;
  margin: 20px;
  border-radius: 15px;
  font-weight: 600;
  bottom: 17px;
}

legend {
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  color: #18537a;
}
.content-container {
 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 20px;
  flex-wrap: wrap;
  height: fit-content;
  padding: 15px;
}
input[type="file"] {
  position: relative;
  width: 300px;
  padding: 5px;
  background: #fff;
  border-radius: 50px;
  border: 4px double #949494;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #18537a;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: linear-gradient(
    112deg,
    rgb(189, 50, 152) 1%,
    rgba(56, 19, 194, 1) 98%
  );
}
.select-group {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 15px;
}
.title-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label-group {
  font-size: 23px;
  color: #18537a;
}
input[type="text"],
input[type="email"] {
  width: 300px;
  height: 40px;
  border-radius: 5px 5px 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  margin: 5px;
  border: 1px solid #c9c9c9;
  font-size: 15px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  outline: 0;
}
textarea {
  height: 10vh;
  border-radius: 5px 5px 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  margin: 5px;
  border: 1px solid #c9c9c9;
  font-size: 15px;
}
.author-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #18537a;
  border: 3px solid #18537a;
  border-radius: 15px;
  font-weight: 600;
  width: 80vh;
  justify-content: center;
  padding-bottom: 20px;
  
}

#authors-container {
  
  display: flex;
  flex-wrap: wrap;
 
 
}

.aff-selector,
.presenter-group select {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}
.info-group {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
}
.interaction {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  align-self: center;
}
.aff-selector-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.buttons {
  width: 30vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 8px;
}
.add-author-btn {
  align-items: center;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5affba 0,
    #17b08a 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow: rgba(33, 164, 59, 0.4) 0 2px 4px,
    rgba(26, 104, 72, 0.3) 0 7px 13px -3px,
    rgba(33, 129, 92, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.add-author-btn:focus {
  box-shadow: #0ebc4e 0 0 0 1.5px inset, rgba(27, 166, 69, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0cc252 0 -3px 0 inset;
}

.add-author-btn:hover {
  box-shadow: rgba(8, 211, 96, 0.4) 0 4px 8px,
    rgba(4, 228, 161, 0.3) 0 7px 13px -3px, #09bb88 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-author-btn:active {
  box-shadow: #3ce091 0 3px 7px inset;
  transform: translateY(2px);
}
.remove-author-btn {
  align-items: center;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ff4141 0,
    #b31414 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow: rgba(20, 15, 14, 0.4) 0 2px 4px, 0 7px 13px -3px,
    rgba(107, 19, 39, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.remove-author-btn:focus {
  box-shadow: #ca0b0b 0 0 0 1.5px inset, rgba(224, 20, 44, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #131d17 0 -3px 0 inset;
}

.remove-author-btn:hover {
  box-shadow: rgba(255, 27, 27, 0.941) 0 4px 8px,
    rgba(236, 26, 26, 0.963) 0 7px 13px -3px, #f70843 0 -3px 0 inset;
  transform: translateY(-2px);
}

.remove-author-btn:active {
  box-shadow: #e03c3c 0 3px 7px inset;
  transform: translateY(2px);
}

.presenter-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  bottom: 7px;
}
.submit {
  align-items: center;
  background: rgb(245, 243, 243);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(104, 105, 104, 0.4) 0 2px 4px,
    rgba(62, 66, 64, 0.3) 0 7px 13px -3px, rgba(53, 53, 53, 0.5) 0 -3px 0 inset;
  color: #18537a;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  align-self: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.submit:focus {
  box-shadow: #c2b9b9 0 0 0 1.5px inset, rgba(37, 34, 35, 0.4) 0 2px 4px,
    rgba(53, 52, 56, 0.3) 0 7px 13px -3px, #141514 0 -3px 0 inset;
}

.submit:hover {
  box-shadow: rgba(30, 26, 26, 0.941) 0 4px 8px,
    rgba(70, 67, 67, 0.963) 0 7px 13px -3px, #141313 0 -3px 0 inset;
  color: #e8e8e8;
  background: linear-gradient(
    112deg,
    rgb(189, 50, 152) 1%,
    rgba(56, 19, 194, 1) 98%
  );
  transform: translateY(-2px);
}

.submit:active {
  box-shadow: #757474 0 3px 7px inset;
  transform: translateY(2px);
}

footer {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
  clear: both;
  color: #18537a;
  margin: 0 auto;
  float: left;
  width: 100%;
  display: grid;
  grid-column: 1/-1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  clear: both;
  justify-content: space-around;
  padding: 0 3em;
  
}

footer h4 {
  width: fit-content;
  text-align: center;
  align-self: center;

}

.col1,
.col2,
.col3 {
  
  /*margin: 30px; */
  text-align: center;
  /*width: calc(31% - 60px); */
  width: fit-content;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.col1 a {
  text-decoration: none;
  color: blue;
  position: relative;
  bottom: 20px;
}
.col1 p{
  position: relative;
  bottom: 20px;
}
.col2 a,
.col3 a {
  text-decoration: none;
  color: black;
}

.col2 a:hover,
.col3 a:hover {
  color: blue;
}

.full-col {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  
}

.full-col a {
  text-decoration: none;
}

footer img.conf-plus {
  position: relative;
  bottom: 10px;
  width: 120px;
}

@media only screen and (max-width: 750px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-left: 10vh;
    margin-bottom: 10vh;
  }
  .welcome-banner {
      
    
    width: fit-content;
    display: flex;
    font-size: 20px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .author-logo{
    margin-left: 5px;
  }
  .upload {
    
    display: flex;
    /* width: 93%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
 .submit-form{
  width: fit-content;
  
 }
  .paper-form {
    width: fit-content;
    position: relative;
    margin-left: 3vh;
  }
  .author-form {
    padding: 0;
    width: fit-content;
    padding-bottom: 10px;
  }
  #authors-container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .interaction {
    padding: 10px;
   
  }
  .submit-btn{
    margin-top: 10px;
  }

  .row {
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: center;
    gap: 2em;
    margin-bottom: 1.4em;
  }
  .row > * {
    height: fit-content;
  }
  footer p {
    width: 280px;
  }
}

@media only screen and (max-width: 480px) {
  .upload{
    border-radius: 0;
    width: 100%;

  }

  .paper-form{
    padding: 1em 0;
  }

  .info-group{
    margin: 0;
  }
  .author-form{
    padding: 20px 5px;
    gap: 10px;
  }

  input[type="text"], input[type="email"] {
    width: 100%;
  }
  label{
    width: fit-content;
  }

  
}